.details {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-height: 80vh;
  max-width: 100vw;
  padding: var(--box-padding);
  border: var(--box-border);
  border-radius: var(--box-border-radius);
}
