.details {
  
  border: var(--theme-border-gray);
	border-bottom-color: var(--gray-4);
  border-radius: var(--size-px-5);
  display: flex;
  flex-direction: column;
  flex: 1;
	max-height: calc(var(--viewport-height-50) - var(--size-rem-xl));
	max-width: var(--viewport-width-100);
  overflow-y: auto;
  padding: var(--size-rem-sm);
  scrollbar-gutter: auto;

  & .detailsHeader {
    align-items: center;
    border-bottom: var(--theme-border-blue);
    display: flex;
    margin-bottom: var(--size-rem-md);
    padding: var(--size-rem-sm) 0; 

    & h4 {
      font-size: var(--size-rem-lg);
      margin: 0;
      text-transform: uppercase;
    }

  }

}

@media (min-width: 721px) {
	.details {
    max-height: var(--viewport-width-100);
    max-width: var(--viewport-width-35);
    border-bottom: var(--theme-border-gray);
  
    & .detailsHeader {

      & h4 {
        font-size: var(--size-rem-lg);
      }
    
    }

  }
}
