.details {
  display: flex;
  flex-direction: column;
  flex: 1;
	min-height: 45vh;
	/* max-height: 45vh; */
	max-width: 100vw;
  padding: var(--box-padding);
  border: var(--box-border);
	border-bottom-color: var(--gray-4);
  border-radius: var(--box-border-radius);
  overflow-y: auto;
  scrollbar-width: none;
  scrollbar-gutter: auto;

  & .detailsHeader {
    display: flex;
    padding: var(--box-padding) 0; 
    border-bottom: var(--box-border-medium);
    margin-bottom: var(--box-margin);
    align-items: center;

    & h4 {
      font-size: 1.1rem;
      text-transform: uppercase;
      margin: 0;
    }

  }

}

/* Tablet and Smaller Desktop */
@media (min-width: 650px) {
	.details {
    max-height: 100vw;
    max-width: 30vw;
    border-bottom: var(--box-border);
  
    & .detailsHeader {

      & h4 {
        font-size: 1.1rem;
      }
    
    }

  }
}
