.para {
	
	display: flex;
	color: var(--button-text-color);
	font-size: 1rem;
	margin: 0.25rem 0;

	& span:nth-child(2) {
		margin-left: auto;
	}

}

/* Tablet and Smaller Desktop */
@media (min-width: 650px) {
	.para {
		font-size: 0.9rem;
	}
}
