.para {
	
	color: var(--theme-item-text-color);
	display: flex;
	font-size: calc(var(--size-rem-lg) * 1.3);
	margin: var(--size-rem-sm) 0;

	& span:nth-child(2) {
		margin-left: auto;
	}

}

/* Tablet and Smaller Desktop */
@media (min-width: 721px) {
	.para {
		font-size: calc(var(--size-rem-lg) * 0.9);
	}
}
