.icon {
	background-size: 32px 32px;
	background-repeat: no-repeat;
	background-position: center center;
	width: 48px;
	aspect-ratio: 1;
	background-color: transparent;
	border-radius: var(--box-border-radius);
	
	&:hover:not(:disabled) {
		cursor: pointer;
	}

	&.light {
		background-image: url('../../assets/images/moon.png');
	}

	&.dark {
		background-image: url('../../assets/images/sun_neg.png');
	}

	&.light:hover {
		background-color: var(--gray-2);
	}

	&.dark:hover {
		background-color: var(--gray-7);
	}

	&:disabled {
		opacity: 0.2;
	}
	
	&:not(:first-child) {
		margin-left: 0.25rem;
	}

}
