.icon {
	background-size: 16px 16px;
	background-repeat: no-repeat;
	background-position: center center;
	width: 32px;
	height: 32px;
	margin-left: auto;
	background-color: transparent;
	border-radius: var(--box-border-radius);
	
	&:hover:not(:disabled) {
		cursor: pointer;
	}

	&.light {
		background-image: url('../../assets/images/moon.png');
	}

	&.dark {
		background-image: url('../../assets/images/sun_neg.png');
	}

	&.light:hover {
		background-color: var(--gray-2);
	}

	&.dark:hover {
		background-color: var(--gray-7);
	}

	&:disabled {
		opacity: 0.2;
	}
	
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) {
	.icon {
		background-size: 22px 22px;
		width: 36px;
		height: 36px;
	}
}
