.listContainer {
  display: flex;
  flex: 1;
  padding: var(--box-padding);
  border: var(--box-border);
  border-radius: var(--box-border-radius);
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}