@import './colors';
@import './sizes';
@import './typeography';
@import './map';
@import './viewport';

:root {

	color-scheme: dark light;

	font-family: var(--font-family);
	font-size: var(--font-size);
	font-synthesis: none;
	font-weight: var(--font-weight);

	line-height: var(--text-line-height);

	text-rendering: optimizeLegibility;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

}

.light {

	background-color: var(--gray-0);
	color: var(--gray-8);

	--theme-border-blue: var(--size-px-2) solid var(--blue-4);
	--theme-border-gray: var(--size-px-2) solid var(--gray-8);
	
	--theme-item-bg-color: var(--gray-1);
	--theme-item-highlight-bg-color: var(--blue-8);
	--theme-item-highlight-text-color: var(--gray-1);
	--theme-item-text-color: var(--gray-8);

}

.dark {

	background-color: var(--gray-8);
	color: var(--gray-0);

	--theme-border-blue: var(--size-px-2) solid var(--blue-4);
	--theme-border-gray: var(--size-px-2) solid var(--gray-6);

	--theme-item-bg-color: var(--gray-8);
	--theme-item-highlight-bg-color: var(--blue-8);
	--theme-item-highlight-text-color: var(--gray-1);
	--theme-item-text-color: var(--gray-1);

	.leaflet-container {
		background-color: var(--map-dark);
	}

	.leaflet-tile {
		filter: var(--leaflet-tile-filter, none);
	}

}

body {
	display: flex;
	flex-direction: column;
	margin: 0;
	min-height: calc(var(--viewport-height-100) - (var(--size-rem-md) * 2));
	min-width: calc(var(--viewport-width-100) - (var(--size-rem-md) * 2));
	max-height: calc(var(--viewport-height-100) - (var(--size-rem-md) * 2));
	max-width: calc(var(--viewport-width-100) - (var(--size-rem-md) * 2));
	padding: var(--size-rem-md);
}

@media (prefers-color-scheme: dark) {
	:root {
		composes: dark;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		composes: light;
	}
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}

/* Reduced motion */
@media (prefers-reduced-motion) {}

/* Mobile */
@media (max-width: 700px) {}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {}
