:root {
	
	/* rem */

	--size-rem-xxs: 0.1rem;
	--size-rem-sm: 0.25rem;
	--size-rem-md: 0.5rem;
	--size-rem-lg: 1rem;
	--size-rem-xl: 1.5rem;

  /* px */

	--size-px-1: 1px;
	--size-px-2: 2px;
	--size-px-5: 5px;
	--size-px-16: 16px;
	--size-px-32: 32px;
	--size-px-36: 36px;

	/* Text */

	--text-line-height: 1.5;

}