.item {
	
	display: flex;
	background-color: var(--theme-item-bg-color);
	color: var(--theme-item-text-color);
	font-size: 1rem;
	padding: var(--padding-sm);
	border: 1px solid var(--gray-4);

	&:first-of-type {
		margin-top: 0.2rem;
	}

	&:not(:first-of-type) {
		margin: 0.1rem 0;
	}
	
	& span:nth-child(2) {
		margin-left: auto;
	}

	&:hover {
		cursor: pointer;
		background-color: var(--theme-item-highlight-bg-color);
		color: var(--theme-item-highlight-text-color);
	}

}

& .highlighted {
	background-color: var(--theme-item-highlight-bg-color);
	color: var(--theme-item-highlight-text-color);
}

/* Tablet and Smaller Desktop */
@media (min-width: 650px) {
	.item {
		font-size: 0.9rem;
	}
}
