.item {
	
	background-color: var(--theme-item-color-bg);
	border: var(--theme-border-general-light);
	color: var(--theme-item-color-text);
	text-decoration: none;
	display: flex;
	font-size: calc(var(--size-rem-lg) * 1.3);
	padding: var(--size-rem-sm);

	&:first-of-type {
		margin-top: var(--size-rem-sm);
	}

	&:not(:first-of-type) {
		margin: var(--size-rem-xxs) 0;
	}
	
	& span:nth-child(2) {
		margin-left: auto;
	}

	&:hover {
		color: var(--theme-item-color-text-highlight);
		cursor: pointer;
		background-color: var(--theme-item-color-bg-highlight);
	}

}

& .active {
	background-color: var(--theme-item-color-bg-highlight);
	color: var(--theme-item-color-text-highlight);
}

/* Tablet and Smaller Desktop */
@media (min-width: 721px) {
	.item {
		font-size: calc(var(--size-rem-lg) * 0.9);
	}
}
