@import 'open-props/colors-hsl';

:root {

  font-family: 'Arial', sans-serif;
  font-size: calc(12px + (26 - 16) * ((100vw - 300px) / (1600 - 300)));

  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark light;

  --time-quick: 0.3s;

  --quick-theme-transition:
    color var(--time-quick),
    background-color var(--time-quick);

  --green-0: hsl(var(--green-0-hsl));
  --green-1: hsl(var(--green-1-hsl));
  --green-2: hsl(var(--green-2-hsl));
  --green-4: hsl(var(--green-4-hsl));
  --green-5: hsl(var(--green-5-hsl));
  --green-6: hsl(var(--green-6-hsl));
  --green-7: hsl(var(--green-7-hsl));
  --green-8: hsl(var(--green-8-hsl));

  --blue-0: hsl(var(--blue-0-hsl));
  --blue-1: hsl(var(--blue-1-hsl));
  --blue-2: hsl(var(--blue-2-hsl));
  --blue-4: hsl(var(--blue-4-hsl));
  --blue-5: hsl(var(--blue-5-hsl));
  --blue-6: hsl(var(--blue-6-hsl));
  --blue-7: hsl(var(--blue-7-hsl));
  --blue-8: hsl(var(--blue-8-hsl));
  
  --gray-0: hsl(var(--gray-0-hsl));
  --gray-1: hsl(var(--gray-1-hsl));
  --gray-2: hsl(var(--gray-2-hsl));
  --gray-4: hsl(var(--gray-4-hsl));
  --gray-5: hsl(var(--gray-5-hsl));
  --gray-6: hsl(var(--gray-6-hsl));
  --gray-7: hsl(var(--gray-7-hsl));
  --gray-8: hsl(var(--gray-8-hsl));

  --orange-0: hsl(var(--orange-0-hsl));
  --orange-1: hsl(var(--orange-1-hsl));
  --orange-2: hsl(var(--orange-2-hsl));
  --orange-4: hsl(var(--orange-4-hsl));
  --orange-5: hsl(var(--orange-5-hsl));
  --orange-6: hsl(var(--orange-6-hsl));
  --orange-7: hsl(var(--orange-7-hsl));
  --orange-8: hsl(var(--orange-8-hsl));
  
  --yellow-0: hsl(var(--yellow-0-hsl));
  --yellow-1: hsl(var(--yellow-1-hsl));
  --yellow-2: hsl(var(--yellow-2-hsl));
  --yellow-4: hsl(var(--yellow-4-hsl));
  --yellow-5: hsl(var(--yellow-5-hsl));
  --yellow-6: hsl(var(--yellow-6-hsl));
  --yellow-7: hsl(var(--yellow-7-hsl));
  --yellow-8: hsl(var(--yellow-8-hsl));

  --purple-4: hsl(var(--purple-4-hsl));

  --box-highlight: var(--yellow-2);
  --box-padding: 0.25rem;
  --border-box-width: 2px;
  --box-border-radius: 8px;
  --box-border-inner-radius-top: calc(var(--box-border-radius) - 2px) calc(var(--box-border-radius) - 2px) 0 0;

  border-radius: var(--box-border-radius);

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --leaflet-tile-filter:
    brightness(0.6)
    invert(1)
    contrast(3)
    hue-rotate(200deg)
    saturate(0.4)
    brightness(0.7);

  --svg-icon-filter:
    brightness(0.6)
    invert(1)
    contrast(3)
    hue-rotate(200deg)
    saturate(0.4)
    brightness(0.7);

}

.light {

  background-color: var(--gray-0);
  color: var(--gray-8);
/*  transition: var(--quick-theme-transition);*/

  --box-border-medium: var(--border-box-width) solid var(--blue-4);
  --box-border: var(--border-box-width) solid var(--gray-8);
  --negative-color: var(var(--gray-0));

  --button-background-color: var(--gray-1);
  --button-text-color: var(--gray-8);

  --button-background-negative-color: var(--blue-8);
  --button-text-negative-color: var(--gray-1);

  }

.dark {

  background-color: var(--gray-8);
  color: var(--gray-0);
/*  transition: var(--quick-theme-transition);*/

  --box-border-medium: var(--border-box-width) solid var(--blue-4);
  --box-border: var(--border-box-width) solid var(--gray-6);

  --button-background-color: var(--gray-8);
  --button-text-color: var(--gray-1);
  --button-background-negative-color: var(--blue-8);
  --button-text-negative-color: var(--gray-1);

  .leaflet-tile {
    filter: var(--leaflet-tile-filter, none);
  }

  .leaflet-container {
    background-color: #303030;
  }

}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0.5rem;
  min-width: calc(100vh - 1rem);
  min-height: calc(100vh - 1rem);
}

h1 {
  font-size: 3.2rem;
  line-height: 1.1;
}

@media (prefers-color-scheme: dark) {
  :root {
    composes: dark;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    composes: light;
  }
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}

/* Reduced motion */
@media (prefers-reduced-motion) {}

/* Mobile */
@media (max-width: 700px) {}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {}
