@import 'open-props/colors-hsl';

:root {

  font-family: 'Arial', sans-serif;
  font-size: calc(12px + (26 - 16) * ((100vw - 300px) / (1600 - 300)));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark light;

  --quick-time: 0.3s;

  --quick-theme-transition:
    color var(--quick-time),
    background-color var(--quick-time);

  --light-gray: hsl(var(--gray-1-hsl));
  --dark-gray: hsl(var(--gray-8-hsl));
  --box-highlight: hsl(var(--yellow-2-hsl));

  --box-padding: 0.25rem;
  --box-border: 2px solid var(--dark-gray);
  --box-border-radius: 5px;
  --box-border-inner-radius: 0 0 calc(var(--border-radius) - 2px) calc(var(--border-radius) - 2px);

  background-color: var(--light-gray);
  color: var(--dark-gray);

  border-radius: var(--box-border-radius);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0.5rem;
  min-width: calc(100vh - 1rem);
  min-height: calc(100vh - 1rem);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.light {
  background-color: var(--light-gray);
  color: var(--dark-gray);
  transition: var(--quick-theme-transition);
}

.dark {
  background-color: var(--dark-gray);
  color: var(--light-gray);
  transition: var(--quick-theme-transition);
  --box-border: 2px solid var(--light-gray);
}

@media (prefers-color-scheme: dark) {
  :root {
    composes: dark;
  }
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}

/* Reduced motion */
@media (prefers-reduced-motion) {}

/* Mobile */
@media (max-width: 700px) {}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {}