.mapContainer {
	
	border: var(--theme-border-gray);
	border-radius: var(--border-radius-md);
	display: flex;
	flex: 1;
	max-width: 100vw;
	min-height: calc(50vh - 1.5rem);
	padding: var(--padding-sm);
  scrollbar-width: none;

	& header {
		border: var(--theme-border-md);
		height: fit-content;

		& h4 {
			margin: 0;
			padding: 0.25rem;
		}

	}

	#mapid {
		height: auto;
	}

	& .leaflet-div-icon {
		background: none;
		border: none;
	} 

}

/* Tablet and Smaller Desktop */
@media (min-width: 721px) {
	.mapContainer {
    max-height: 100vw;
    min-width: 70vw;
	}
}
