.mapContainer {
	display: flex;
	/* flex-direction: column; */
	min-height: 45vh;
	max-width: 94vw;
	/* max-height: 45vh; */
	padding: var(--box-padding);
	border: var(--box-border);
	border-radius: var(--box-border-radius);

	& header {
		border: var(--box-border-medium);
		height: fit-content;
		border-radius: var(--box-border-inner-radius-top);
		& h4 {
			margin: 0;
			padding: 0.25rem;
		}
	}

	#mapid {
		height: auto;
	}

	& .leaflet-div-icon {
		background: none;
		border: none;
	} 

}

/* Tablet and Smaller Desktop */
@media (min-width: 721px) {
	.mapContainer {
		/* flex-direction: row; */
    max-height: 100vw;
    min-width: 70vw;
	}
}
